colorama==0.4.6
langchain==0.3.27
langchain-google-genai==2.1.12
langgraph==0.6.7
numpy==2.2.6
pandas==2.3.2
polygon-api-client==1.15.3
pydantic==2.11.9
python-decouple==3.8
pytz==2025.2
questionary==2.1.1
typing_extensions==4.15.0